<div class="container mt-4" cdkDropListGroup>
  <section class="play-section">
    <div cdkDropList [cdkDropListData]="playSection" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of playSection" cdkDrag>
        {{ item.name }}
        <input class="mt-1" type="number" [(ngModel)]="volume" />

        <button  *ngIf="item.playing" (click)="stopAudio(item)" [class.playing]="item.playing" mat-fab color="primary">
          <mat-icon> stop_circle</mat-icon>
        </button>

        <button *ngIf="!item.playing"  (click)="playAudio(item)" mat-fab color="primary">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
    </div>
  </section>

  <section class="play-section mt-4">
    <div cdkDropList [cdkDropListData]="soundsBank" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let sound of soundsBank" cdkDrag>
        <article class="sound-item">
          {{ sound.name }}
        </article>
      </div>
    </div>
  </section>
</div>

<div class="footer-buttons">
  <button style="background-color: white;" (click)="addSound()" mat-fab >
    <mat-icon> add</mat-icon>
  </button>

  <button style="background-color: white;" (click)="stopAll()" mat-fab >
    <mat-icon> stop_circle</mat-icon>
  </button>
</div>
