<div class="container mt-4" cdkDropListGroup>
  <section class="play-section">
    <div cdkDropList [cdkDropListData]="play" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of play" cdkDrag>
        {{ item.name }}
        <input class="mt-1" type="number" [(ngModel)]="volume" />
        <button (click)="stopAudio(item)" mat-fab color="primary">
          <mat-icon> stop_circle</mat-icon>
        </button>

        <button (click)="setVolume(item)" mat-fab color="primary">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
    </div>
  </section>

  <section class="play-section mt-4">
    <div cdkDropList [cdkDropListData]="sounds" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let sound of sounds" cdkDrag>
        <article class="sound-item">
          {{ sound.name }}
        </article>
      </div>
    </div>
  </section>
</div>

<div style="position: absolute; bottom: 10vh; left: 40vw">
  <button style="background-color: white;" (click)="stopAll()" mat-fab >
    <mat-icon> stop_circle</mat-icon>
  </button>
</div>
